body{
    background-image: url('bgfootball.jpg');
}

#overall {
    font-family: 'Kanit', sans-serif;
    opacity: 0.9;
}

#selection{
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 100%;
    max-width: 500px;
}

.winner {
 color: green;
}

.loser {
    color: red;
}